@primary-color: #34495e;
@secondry-color: #ddd6;
@purple : #8e44ad;
body {
  background-color: #7158e2;
  padding: 0;
  margin: 0;
  height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    background-color: @secondry-color;
    width: 40vw;
    padding: 40px;
    border-radius: 5px;

    input {
      font-family: helvetica;
      border-radius: 5px;
      height: 50px;
      padding: 5px 15px;
      width: 100%;
      outline: none;
      border: 0px;
      margin-bottom: 20px;
      box-sizing: border-box;
      font-size: 18px;
    }
    }
  }
#submit {
      padding: 15px;
      width: 100%;
      color: #fff;
      font-size: 22px;
      border: 0px;
      cursor: pointer;
      background-color: @primary-color;
      &:hover {
        background-color: #ecf0f1;
          color: @primary-color;
      }
      &:focus {
        outline: none;
      }
}
@media (max-width: 900px) {
    form {
    width: 70vw !important;
    padding: 30px !important;
  }
}
